@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maps&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");

.signupHead h2 {
  font-size: 25px !important;
  font-family: "Work Sans", sans-serif;
}

.name input {
  width: 45%;
}

.form input:focus {
  background: #323644;
  color: #cac4d0;
  box-shadow: 0 !important;
  border: 0px !important;
}

.form input {
  border-radius: 10px !important;
  color: #ffffff;
  background: var(--main-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33) !important;
  border: 0 !important;
  padding: 0.8rem;
}

.form input::placeholder {
  color: var(--sec-color);
  font-family: var(--main-font);
  font-size: 15px;
  font-style: normal;
  /* font-weight: 600; */
  line-height: 20px;
}
/*  */
.form .role {
  border-radius: 10px !important;
  background: var(--main-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33) !important;
  border: 0 !important;
  padding: 1rem !important;
  color: var(--sec-color);
  font-family: var(--main-font) !important;
  font-size: 15px !important;
  font-style: normal !important;
  /* font-weight: 600 !important; */
  line-height: 20px;
}
.form .role option {
  color: var(--sec-color);
  font-family: var(--main-font) !important;
  font-size: 15px !important;
  font-style: normal !important;
  /* font-weight: 600 !important; */
  line-height: 20px;
}
.form .role option:checked {
  color: var(--sec-color);
  font-family: var(--main-font) !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px;
}
.form .role option:disabled {
  color: var(--mutedColor);
}
.form .role:focus {
  color: var(--sec-color);
}


.Signup-btn button {
  background: var(--sec-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
  color: white;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  font-family: var(--main-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.5s;
}

.Signup-btn button:hover {
  background: darkslateblue;
}
