.inputItem input,
.inputItem textarea {
  background-color: #1e1e23;
  color: white !important;
  border: 0;
  width: 100%;
}
.calenderPicker .inputItem > div {
  width: 100% !important;
}
.calenderPicker .inputItem input{
 padding-block: 10px !important;
}
.inputItem input::placeholder,
.inputItem textarea::placeholder {
  color: #8f8f91;
}
/* .inputItem input:focus,
.inputItem textarea:focus {
  background-color: none !important;
  outline: none !important;
  box-shadow: none !important;
} */


/* timePicker */
.timePicker > div {
  width: 100% !important;
}
