

.main {
    background: rgb(37, 50, 57);
    background: linear-gradient(180deg,
            rgba(37, 50, 57, 1) 0%,
            rgba(39, 42, 55, 1) 92%);
    min-height: 100vh;
}

.inner {
    background-color: #343A46;
}


