.main-cards {
    background: rgb(37, 50, 57);
    background: linear-gradient(180deg,
            rgba(37, 50, 57, 1) 0%,
            rgba(39, 42, 55, 1) 92%);
    min-height: 100vh;
}

.meeting-topic h2 {
    font-family: var(--main-font);
}
 
.inner-card{
    background-color: #343A46;
    cursor: pointer;
} 

.inner-card .guest-name h4{
    font-size: 20px;
    color:  var(--sec-color);
    font-family: var(--main-font);
}

.inner-card .guest-email h6{
    font-size: 15px;
    color: #ffff;
    font-family: var(--main-font);
}

.meeting-info  h5{
    font-size: 17px;
    color: #7E7EBE;
    font-family: var(--main-font);
}

.meeting-info  h6{
    font-size: 15px;
    color: #ffff;
    font-family: var(--main-font);
}

.modal.fade {
    transition: opacity 0.1s linear;
}

.modal {
    z-index: 99999999;
    background: rgba(33, 36, 40, 0.6);
    /* padding: 60px 15px !important; */
}

.modal .modal-dialog .modal-content {
    border-radius: 1rem !important;
    overflow: hidden;
    border: none;
    z-index: 1;
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
    transition: opacity 400ms, backdrop-filter 400ms
}

.modal .modal-dialog {
    max-width: 900px;
}

/* .inner-modal {
    position: relative;
} */

.icon {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.icon i {
    width: 30px;
    height: 30px;
    background-color: #4c525f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meeting-container span{
    color:#7E7EBE;
    font-size: 18px;
    font-family: var(--main-font);
    
}

.meeting-container h5{
    color:#CAC4D0;
    font-family: var(--main-font);
}

/* media Screen */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .inner-parent  {
      width: 50% !important
    }
}  