.main-cards {
    background: rgb(37, 50, 57);
    background: linear-gradient(180deg,
            rgba(37, 50, 57, 1) 0%,
            rgba(39, 42, 55, 1) 92%);
    min-height: 100vh;
}

.inner-card, .inner-modal{
    background-color: #343A46;
}

.inner-card h6, 
.inner-modal h6{
    font-size: 12px;
    color: #F6F7F9;
    
}

.modal.fade {
    transition: opacity 0.1s linear;
}

.modal {
    z-index: 99999999;
    background: #212428;
    padding: 60px 15px !important;
}

.modal .modal-dialog .modal-content {
    padding: 45px;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    z-index: 1;
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
}

.modal .modal-dialog .modal-content .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    display: inline-block;
    width: 0;
    right: 44px;
    position: absolute;
    opacity: 1;
    transition: var(--transition);
}

.modal .modal-dialog .modal-content .modal-header .close span {
    color: var(--color-white);
    position: relative;
    z-index: 1;
    transition: var(--transition);
}

.modal .modal-dialog {
    width: 60%;
    max-width: 1230px;
}

.inner-modal {
    position: relative;
}

.icon {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.icon i {
    width: 30px;
    height: 30px;
    background-color: #4c525f;
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}