.MuiTablePagination-root {
    background-color: var(--cardBgColor) !important;

}

.MuiPaper-root {
    border-radius: 30px !important;
    box-shadow: none !important;
    background-color: var(--cardBgColor) !important;
}

.stickyHeader.MuiButtonBase-root {
    color: var(--BlackToWhite) !important;
}