.nav .logo {
    width: 45px;
}
  
.nav .logo img {
    width: 100%;
}

.accImage {
    width: 35px;
    height: 35px;
    font-size: 18px;
    border-radius: 100vh !important;
    -webkit-user-select: none;
    user-select: none;
}

table tr th {
    background-color:var(--main-color) !important;
    border-bottom: 1px solid rgb(255, 255, 255 , 0.2) ;
    color: #ffff !important;
}

table tr td {
    background-color:var(--main-color) !important;
    border-bottom: 0px;
    color: #ffff !important;
}



.nav {
    background-color: var(--main-color);
}
